body {
  background-color: #2F4F4F;
  margin-top: 5px;
  margin-bottom: 100px;
  margin-left: 10px;
  margin-right: 10px;
}

.tab {
  overflow: hidden;
  border: 1px;
}

.tab button:hover {
  background-color: #2F4F4F;
}

.tab button.active {
  background-color: #2F4F4F;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  color: white;
  font-family: Helvetica;
  font-size: xx-large;
}

h2 {
  color: white;
  font-family: Helvetica;
  font-size: xx-large;
}

h3 {
  color: white;
  font-family: Helvetica;
  font-size: x-large;
}

p {
  color: white;
  font-family: Helvetica;
  font-size: large;
}

a {
  color: coral;
  font-family: Helvetica;
  font-size: large;
}

a:hover {
  color: coral;
  font-weight: bold;
  text-decoration: underline;
}

a:visited {
  color: chocolate;
}